@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Work+Sans:wght@300;500&display=swap');

* {
  font-family: "Work Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #1d1e24;
  line-height: 1.25;
}

p {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 40px 12px;
}

section:nth-child(even) {
  background-color: #f8f8f8;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.blue-button:hover {
  background-color: #34ebcd;
  border: #34ebcd solid;
}

.white-button:hover {
  color: #34ebcd;
  border: #e0e2e6 solid;
}

.gray-button:hover {
  background-color: #3a3a3f;
  border: #3a3a3f solid 2px;
  color: #f8f8f8;
}

/* INDEX */

/* navigation bar */

.nav-bar {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.nav-title {
  display: flex;
}

.nav-logo {
  width: 100%;
  max-width: 80px;
}

.nav-name {
  width: 100%;
  max-width: 200px;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-li {
  padding: 0px 16px;
}

.nav-sign {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  padding: 8px 20px;
  border-radius: 20px;
  transition: all 200ms ease;
}

.nav-header {
  position: relative;
  color: #000000;
}

.nav-header::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -3px;
  left: 0px;
  background-color: #1d1e24;
  transform: scale(0);
  transition: all 200ms ease;
}

.nav-header:hover::after {
  transform: scale(1);
}

/* information */

.info {
  padding-top: 150px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

.info-text {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-right: 50px;
}

.info-title {
  padding-top: 50px;
  font-size: 44px;
}

.info-para {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.info-learn {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 20px;
  margin-right: 10px;
  transition: all 300ms ease;
}

.info-vol {
  color: #38d9c2;
  background-color: #ffffff;
  border: #d7d8de solid;
  padding: 8px 42px;
  border-radius: 20px;
  font-size: 20px;
  transition: all 300ms ease;
}

.info-fig {
  flex: 1;
}

.info-pic {
  width: 100%;
}

/* steps */

.steps {
  display: flex;

}

.steps-title {
  font-size: 44px;
  text-align: center;
  margin-bottom: 60px;
}

.steps-fig {
  padding: 16px 24px;
  margin: auto 0;
}

.steps-pic {
  max-width: 600px;
  width: 100%;
  max-height: 100%;
}

.steps-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 440px;
}

.steps-step {
  font-size: 18px;
  padding: 16px 0px;
  width: 100%;
}

.steps-link {
  color: #000000;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: underline;
}

.steps-start {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  padding: 8px 20px;
  border-radius: 20px;
  margin: 16px 0px;
  font-size: 18px;
  transition: all 300ms ease;
}

.steps-more {
  color: #000000;
  text-align: center;
  padding: 8px 0px;
  font-size: 14px;
}

.steps-more:hover {
  text-decoration: underline;
}

/* footer */

footer {
  background-color: #3a3a3f;
}

.footer-bar,
.footer-contact {
  display: flex;
}

.footer-list {
  padding: 0px 50px;
}

.footer-connect {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  color: #ffffff;
  padding-bottom: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

.footer-li {
  padding-bottom: 8px;
}

.footer-a {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
}

.footer-a:hover {
  text-decoration: underline;
}

.footer-icon {
  padding: 0px 10px;
  transform: scale(1.3);
}

.footer-legal {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  padding-left: 50px;
  padding-top: 20px;
}

/* DONATE */

.donate {
  position: relative;
  height: 600px;
}

.donate-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  height: 550px;
  background-color: #ffffff;
  right: 30px;
  top: 40px;
  border-radius: 32px;
}

.donate-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.donate-box {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 16px 0px;
}

.donate-amount,
.donate-time {
  width: calc(80% / 3);
  display: flex;
  justify-content: center;
  padding: 8px 0px;
  margin: 4px;
  color: #38d9c2;
  background-color: #ffffff;
  border: #d7d8de solid 2px;
  border-radius: 8px;
  transition: all 300ms ease;
}

.donate-message {
  display: flex;
  flex-direction: column;
}

.donate-p {
  padding: 8px 5%;
}

.donate-number {
  width: 50%;
  margin-left: 4px;
  border: #d7d8de solid 2px;
  border-radius: 4px;
}

.donate-text {
  width: 90%;
  height: 100%;
  margin: 0px auto;
  padding: 4px;
  border: #d7d8de solid 2px;
  border-radius: 4px;
  resize: none;
}

.donate-submit {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  padding: 8px 32px;
  border-radius: 8px;
  margin: 16px auto;
  transition: all 300ms ease;
}

/* ABOUT */

/* mission */

.about {
  padding: 80px 20px;
}

.about-title {
  font-size: 44px;
  text-align: center;
  padding-bottom: 60px;
}

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  padding: 32px 16px;
}

.mission-text {
  width: 40%;
  padding-right: 12px;
}

.mission-title {
  font-size: 38px;
  padding-bottom: 16px;
}

.mission-p {
  font-size: 18px;
}

.mission-fig {
  width: 60%;
}

.mission-img {
  width: 100%;
}

/* why us */

.bottom {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  padding: 96px 16px;
}

.why {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.why-fig {
  width: 55%;
}

.why-img {
  width: 100%;
}

.why-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding-left: 32px;
}

.why-title {
  font-size: 38px;
  padding-bottom: 16px;
}

.reason {
  display: flex;
  padding: 16px 8px;
}

.reason-fig {
  width: 100px;
}

.reason-img {
  width: 100%;
}

.reason-text {
  padding: 0px 12px;
}

.reason-title {
  font-weight: 400;
}

.bottom-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
}

.bottom-learn {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 20px;
  margin-right: 24px;
  transition: all 300ms ease;
}

.bottom-vol {
  color: #38d9c2;
  background-color: #ffffff;
  border: #d7d8de solid;
  padding: 12px 42px;
  border-radius: 20px;
  font-size: 20px;
  transition: all 300ms ease;
}

/* FAQ */

/* faq */

.faq-title {
  font-size: 44px;
  text-align: center;
  padding-bottom: 60px;
}

.faq-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 32px;
}

.faq-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 0px;
}

.faq-question,
.faq-answer {
  position: relative;
  display: flex;
  align-items: center;
  color: #1d1e24;
  padding: 8px 4px;
}

.faq-question {
  font-size: 20px;
  background-color: #eaebec;
}

.faq-answer {
  font-size: 16px;
  background-color: #f5f3f3;
}

.faq-question::after,
.faq-answer::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: -8px;
  top: 0px;
}

.faq-question::after {
  background-color: #38d9c2;
}

.faq-answer::after {
  background-color: #1d1e24;
}

.faq-q,
.faq-a {
  font-size: 32px;
  padding-right: 12px;
}

.faq-q {
  color: #38d9c2;
}

.faq-link {
  color: #000000;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: underline;
}

/* REVIEW */

/* review */

.review-title {
  font-size: 44px;
  text-align: center;
  padding-bottom: 60px;
}

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 32px;
}

.review-box {
  display: flex;
  padding: 60px 0px;
}

.review-fig {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  max-width: 200px;
}

.review-profile {
  width: 100%;
  border-radius: 100px;
  border: #3a3a3f 4px solid;
}

.review-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-name {
  font-size: 32px;
  padding-bottom: 8px;
}

.review-text {
  font-size: 18px;
  padding-bottom: 8px;
}

.review-bottom {
  display: flex;
  justify-content: space-between;
}

.review-star {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 128px;
}

.review-rating {
  width: 100%;
}

.review-date {
  font-size: 20px;
  font-weight: 300;
  padding-right: 16px;
}

/* PLAN */

/* plan */

.plan-title {
  font-size: 44px;
  text-align: center;
  padding-bottom: 60px;
}

.plan-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 32px;
}

.plan-card {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 24px;
  width: calc(90%/3);
  background-color: #f8f8f8;
  border-radius: 24px;
  transition: all 300ms ease;
}

.plan-card:hover {
  background-color: #38d9c2;
}

.plan-time {
  font-size: 20px;
}

.plan-sub {
  padding-bottom: 16px;
  font-weight: 300;
}

.plan-price {
  font-size: 60px;
  padding-top: 8px;
}

.plan-ses {
  font-size: 16px;
  font-weight: 300;
}

.plan-card:hover .plan-text {
  color: #f8f8f8;
}

.plan-button {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  padding: 8px 0px;
  border-radius: 8px;
  margin: 24px auto;
  max-width: 240px;
  width: 100%;
  text-align: center;
  transition: all 300ms ease;
}

.plan-card:hover .plan-button {
  color: #38d9c2;
  background-color: #ffffff;
  border: #ffffff solid;
}

.plan-item {
  display: flex;
  align-items: center;
  padding: 8px 0px;
}

.plan-check {
  color: #38d9c2;
  padding-right: 8px;
}